<title>Gerar Convite</title>
<h1>Utilizadores</h1>
<div class="card">
  <div class="card-head">
    <h2 id="titulo">Gerar Convite</h2>
  </div>

  <div class="card-body">
    <div id="formContent">
      <form>
        <div class="card-body-id">
          <input
            type="text"
            id="idUtilizador"
            name="idUtilizador"
            placeholder="ID Utilizador"
          />
          <input type="submit" value="Procurar ID" class="button" />
        </div>
        <div class="card-body-dados">
          <p class="paragrafo">Dados Cliente:</p>
          <div class="card-body-informacoes" id="card-body-informacoes"></div>
        </div>

        <div class="card-button-gerarconvite">
          <input type="submit" value="Gerar Convite" />
        </div>

        <div class="card-body-codigo">
          <!-- Qualquer Coisa -->
        </div>
      </form>
    </div>
  </div>
</div>
