.card {
  align-items: center;
}

.card-head {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-body {
  background-color: blue;
}

#titulo {
  margin: 10px 0px 10px 0px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: 30px;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

textarea[readonly] {
  background-color: #eee;
}
