<h2 mat-dialog-title>Editar Pedido</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- <span>ID:</span>
    <mat-form-field>
      <input matInput placeholder="ID" formControlName="id" [disabled]="true" />
    </mat-form-field> -->

    <div class="teste">
      <span>ID:</span>
      <mat-form-field>
        <input
          matInput
          placeholder="ID"
          formControlName="id"
          [disabled]="true"
        />
      </mat-form-field>
    </div>
    <div class="teste">
      <span>Request Name:</span>
      <mat-form-field>
        <input
          matInput
          placeholder="Request Name"
          formControlName="requestName"
        />
      </mat-form-field>
    </div>

    <div class="teste">
      <span>Request Method:</span>
      <mat-form-field>
        <mat-label>Request Method</mat-label>
        <select matNativeControl formControlName="requestMethod">
          <option value="">Select an option</option>
          <option value="GET">GET</option>
          <option value="POST">POST</option>
          <option value="PUT">PUT</option>
          <option value="DELETE">DELETE</option>
          <option value="PATCH">PATCH</option>
          <option value="HEAD">HEAD</option>
          <option value="OPTIONS">OPTIONS</option>
        </select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button color="primary" (click)="submit()">Save</button>
  <button mat-button (click)="opcao()">Opção</button>
</div>
